<?xml version="1.0" encoding="UTF-8"?>

<launch>
	<?ignore Play long rosbag -->
	<param name="use_sim_time" value="true"/>
	<arg name="bag_file" default="$(find /media/integration/xavier_sd/semester_project/rosbags
	)/yolo_evaluation_bagfile_qualification_video_20210407_2021-04-13-20-59-42.bag
	"/>
	<node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="--clock --pause --start 60 $(arg bag_file)"/?>

    <!-- Play high frequency rosbag -->
	<param name="use_sim_time" value="true"/>
	<arg name="bag_file" default="$(find /media/integration/xavier_sd/semester_project/rosbags)/artifacts_2021-05-07-17-09-09.bag"/>
	<node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="--clock --pause $(arg bag_file)"/>
	
 	<?ignore Play short rosbag -->
	<param name="use_sim_time" value="true"/>
	<arg name="bag_file" default="$(find /media/integration/xavier_sd/semester_project/rosbags)/backpack_helmet_2021-03-03-19-11-21.bag"/>
	<node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="--clock --pause $(arg bag_file)"/?>
</launch>