<?xml version="1.0" encoding="UTF-8"?>

<launch>
	 <!-- ROS and network parameter files -->
  	<arg name="ros_param_file"             default="$(find yolov4_trt_ros)/config/ros.yaml"/>
  	<arg name="network_param_file"         default="$(find yolov4_trt_ros)/config/yolov3.yaml"/>

	<!-- yolov4_trt_node -->
	<node pkg="yolov4_trt_ros" type="trt_yolo_v3.py" name="yolov4_trt_node" output="screen">
		<rosparam command="load" file="$(arg ros_param_file)"/>
		<rosparam command="load" file="$(arg network_param_file)"/>
	</node>
</launch>