<?xml version="1.0" encoding="UTF-8"?>

<launch>
	  <?ignore Play long rosbag -->
	<param name="use_sim_time" value="true"/>
	<arg name="bag_file" default="$(find /media/integration/xavier_sd/semester_project/rosbags
	)/yolo_evaluation_bagfile_qualification_video_20210407_2021-04-13-20-59-42.bag
	"/>
	<node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="--clock --pause --start 60 $(arg bag_file)"/?>


    <?ignore Play high frequency rosbag -->
	<param name="use_sim_time" value="true"/>
	<arg name="bag_file" default="$(find /media/integration/xavier_sd/semester_project/rosbags)/artifacts_2021-05-07-17-09-09.bag"/>
	<node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="--clock --pause $(arg bag_file)"/?>
	
 	<!--ignore Play short rosbag -->
	<param name="use_sim_time" value="true"/>
	<arg name="bag_file" default="$(find /media/integration/xavier_sd/semester_project/rosbags)/backpack_helmet_2021-03-03-19-11-21.bag"/>
	<node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="--clock --pause $(arg bag_file)"/>

	<!-- yolo_trt_node -->
	<node pkg="yolov4_trt_ros" type="trt_yolo_v3.py" name="yolov4_trt_node" output="screen">
		<param name="topic_name" type="string" value="/alphasense_driver_ros/cam4/debayered" />
		<param name="model" type="string" value="yolov3_tiny" />	
		<param name="model_path" type="string" value="$(find yolov4_trt_ros)/yolo/" />
		<param name="input_shape" type="string" value="416" />
		<param name="category_number" type="int" value="8" />
		<param name="confidence_threshold" type="double" value="0.2" />
		<param name="show_image" type="bool" value="True" />
	</node>
</launch>
